/* Bootstrap items */

/* Custom items */

.buttons-section {
    margin: auto;   
    display: flex;
    flex-direction: row;
}

.buttons-section button {
    width: 146px;
    height: 40px;
    border: 2px solid black;
    margin: 12px auto;
    display: block;
    align-content: center;
    background-color: #61B38E; 
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s ease;
}

.buttons-section button:hover {
    background-color: #96D3B7; 
    opacity: 90%;
    border: 2px solid black;
  }
  
  .dx {
      width: 3px;
  } 
  
  @media only screen and (max-width: 600px) {
    .buttons-section {
    position: absolute;
    top: 80px;
    left: 5%;
    right: 5%;
    }

}