/* Bootstrap items */

/* Custom items */

.buttons-section {
    margin: auto;   
    display: flex;
    flex-direction: row;
}

.buttons-section button {
    width: 146px;
    height: 40px;
    border: 2px solid black;
    margin: 12px auto;
    display: block;
    align-content: center;
    background-color: #4B4A4A; 
    color: #fff;
    text-shadow: 1px 0 0 #111, 0 -1px 0 #111, 0 1px 0 #111, -1px 0 0 #111;
    font-weight: bold;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.8s ease;
}

.buttons-section button:hover {
    background-color: #DDDDDD; 
    border: 2px solid black;
    color: black;
    text-shadow: 1px 0 0 #FFF, 0 -1px 0 #FFF, 0 1px 0 #FFF, -1px 0 0 #FFF;
  }
  
.buttons-section button:focus {
    background-color: #DDDDDD !important;
    border: 4px solid black !important;
}

.buttons-section button:active, .buttons-section button:focus {
   outline: none !important;
   box-shadow: none !important;
   color: black;
   text-shadow: 1px 0 0 #FFF, 0 -1px 0 #FFF, 0 1px 0 #FFF, -1px 0 0 #FFF;
}
  .dx {
      width: 3px;
  } 
  
  @media only screen and (max-width: 600px) {
    .buttons-section {
    position: absolute;
    top: 80px;
    left: 5%;
    right: 5%;
    }

}