.Portfolio {
    width: 90vh;
    height: 90vh;
    margin: auto;  
    color: white;
    display: flex;
    flex-direction: row;
}

.Project {
    width: 80vh;
    height: 90vh;
}

.Portfolio .btn {
    width: 146px;
    height: 40px;
    border: 2px solid black;
    margin: 3px auto;
    display: block;
    align-content: center;
    background-color: #4B4A4A; 
    color: #fff;
    text-shadow: 1px 0 0 #111, 0 -1px 0 #111, 0 1px 0 #111, -1px 0 0 #111;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.8s ease;
}


.Portfolio .btn:hover {
    background-color: #DDDDDD; 
    opacity: 90%;
    border: 2px solid black;
    color: black;
    text-shadow: 1px 0 0 #FFF, 0 -1px 0 #FFF, 0 1px 0 #FFF, -1px 0 0 #FFF;
  }
  
.Portfolio .btn:focus {
    background-color: #DDDDDD !important;
    border: 2px solid black !important;
}

.Portfolio .btn:active, .Portfolio .btn:focus {
   outline: none !important;
   box-shadow: none !important;
   color: black;
   text-shadow: 1px 0 0 #FFF, 0 -1px 0 #FFF, 0 1px 0 #FFF, -1px 0 0 #FFF;
}

.btn[type="js"] {
    color: #FF851B;
}

.btn[type="j"]{
    color: #2ECC40;
}

.btn[type="home"] {
    color: #FFEC77;
}


@media only screen and (max-width: 768px) {
        .Portfolio {
            width: 50vh;
            height: 60vh;
            padding-top: 6px;
            padding-left: 5px;
        }

        .Project {
            width: 40vh;
            height: 60vh;
            padding-top: 6px;
            overflow: scroll;
            font-size: 12px;
        }
        .Sidebar {
            overflow-y: scroll;
        }
        .Portfolio .btn {
            width: 75px;
            font-size: 10px;
        }
        h5 {
            font-size: 18px;
        }
        h1 {
            font-size: 25px;
        }
        .colorguide {
            font-size: 12px;
        }
}