.appFooter {
    opacity: 0.7;
    bottom: 0;
    left: 2px;
    position: absolute;
    color: white;
}

.footerIcons {
    display: flex;
    flex-direction: row;
}

.footerIcons img {
    transition: 0.8s ease;
}

.footerIcons img:hover {
    opacity: 0.4;
}
