.Blog {
    width: 80vh;
    height: 90vh;
    margin: auto;
    padding-left: 10px;
    color: white;
    display: inline-block;
    font-size: 35px;
}

.Blog a {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .Blog {
        width: 50vh;
        height: 60vh;
        padding-top: 6px;
        font-size: 15px;
    }
}