.About {
    width: 80vh;
    height: 90vh;
    margin: auto;
    color: white;
    display: flex;   
    flex-direction: column;
}

.About-avi {
    left: 1; 
    position: absolute;
    padding: 4px;
}

.About-avi img {
    width: 200px;
    height: 200px;
    border-radius: 8%;
}

.About-top {
    width: 80%;
    margin: auto;
    padding-left: 115px;
}

.Name {
    font-size: 60px;
}

.About-subheaders {
    font-size: 35px;
}

.About-words {
    margin: auto;
    width: 100%;
    height: 80%;
    padding: 5px;
    padding-top: 10px;
    font-size: 25px;
}

.About-bottom {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 100%;
    padding: 10px;
}

.About-bottom img {
    width: 250px;
    height: 250px;
    margin: 25px;
    border-radius: 8%;
}


@media only screen and (max-width: 600px) {
    .About {
      width: 50vh;
      height: 60vh;
      padding-top: 6px;
    }
    
    .About-avi img {
        width: 100px;
        height: 100px;
    }

    .About-top {
        padding-left: 80px;
        padding-top: 0px;
    }
    .Name {
        font-size: 20px;
    }
    .About-subheaders {
        font-size: 15px;
    }

    .About-words {
        overflow: scroll;
        height: 70%;
        font-size: 20px;
    }

    .About-bottom {
        display: none;
    }
}